<%args>
    $submits
</%args>

<div class="row">
    <div class="col-sm-2"> </div>
    <div class="col-sm-8">
        <div class="table-responsive table-div">
            <table class="table table-striped table-responsive form-table">
              <thead>
                <tr>
                    <th>Id</th>
                    <th>View</th>
                    <th>Form name</th>
                    <th>Form description</th>
                    <th>Created date</th>
                </tr>
              </thead>
              <tbody>
%               foreach my $submit ( @$submits ) {
%                   my $form = $submit->form;
%                   my $created_date = $submit->created =~ s/T/ - /r;
%                   my $desc = ( length $form->description > 30 ) ? ( substr($form->description, 0, 30) . ' ...' ) : $form->description;
                    <tr>
                        <td><% $submit->id %></td>
                        <td><a target="_blank" href="<% $c->uri_for('/submission/view', $submit->id) %>">View</a></td>
                        <td><% $form->title %></td>
                        <td><% $desc %></td>
                        <td><% $created_date %></td>
                    </tr>
%               }
              </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-2"> </div>
</div>